/* This is the CSS document for Spelling Game */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
	text-align: center;
}

.page {
	margin: auto;
	margin-top: 50px;
    font-family: 'Poppins';
}

.contents {
	max-width: 760px;
    width: 100%;
	margin-top: 80px auto;
	margin-left: auto;
	margin-right: auto;
}

#progressBar {
	margin: 0;
	padding: 0;
	font-size: 18px;
}

fieldset {
	display: none;
	width: 60%;
	padding: 20px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	box-shadow: 3px 3px 25px 1px gray;
}

#questionBoard {
	display: block;
	width: 60%;
	padding: 20px;
	margin-top: 30px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 3px 3px 25px 1px gray;
}

input[type=text], 
select {
	width: 90%;
	margin: 10px 0;
	height: 40px;
	padding: 5px;
	border: 3px solid rgb(236,176,220);
	border-radius: 4px;
}

.btnNext, .btnPrevious{
	width: 120px;
	margin: 5px 25px;
	padding: 5px;
	height: 40px;
	background-color: #5b70f9;
	border: none;
	border-radius: 4px;
	color: white;
}
.btnNext:disabled, .btnReplay:disabled {
    background-color: #555;
}

.btnReplay{
	width: 60px;
	margin: 5px;
	padding: 5px;
	height: 35px;
	background-color: rgb(0 184 125);
	border: 5px solid transparent;
	border-radius: 4px;
	color: white;
}

.btnSubmit {
	width: 120px;
	margin: 15px 25px;
	padding: 5px;
	height: 40px;
	background-color: rgb(0 184 125);
	border: none;
	border-radius: 4px;
	color: white;
}

p {
	text-align: center;
}

li {
	display: inline-block;
	color: #C1C5CC;
}

.keyboard {
    width: 60px;
    height: 50px;
    background-color: #5b70f9;
    font-weight: bold;
    font-size: 13px;
    color: white;
    border: 5px solid #5b70f9;
    border-radius: 5px;
}
.keyboard#btnBS {
    width: 100px;
}

@media only screen and (max-width: 768px) {
    .keyboard {
        display: none;
    }
}
.activitySelect {
	width: 120px;
	margin: 15px 10px;
	padding: 5px;
	height: 40px;
	border: none;
	border-radius: 4px;
	color: white;
}

input[type=button]:not([disabled]):hover {
	border: 5px solid deepskyblue;
}

input[type=submit]:not([disabled]):hover {
	border: 5px solid deepskyblue;
}

#activity_14 {
	background-color: rgb(0 184 125);
}

#activity_15 {
	background-color: khaki;
	color: black;
}

#activity_16 {
	background-color: rgba(226, 28, 63);
}

#btnReset {
	width: 120px;
	margin: 15px 10px;
	padding: 5px;
	height: 40px;
	margin: auto;
	border: none;
	border-radius: 4px;
	background-color: rgba(226, 28, 63);
	color: white;
	display: none;
}

#btnReset:not([disabled]):hover {
	border: 5px solid deepskyblue;
}

#logo {
	display: inline-block;
	height: 80px;
	vertical-align: middle;
}

#header {
	display: inline-block;
	vertical-align: middle;
}

.status-text {
    font-size: 20px;
    margin-top: 15px;
}
.status-text.wrong {
    color: rgba(226, 28, 63);
}
.status-text.green {
    color: rgb(0 184 125);
}
.status-text.blue {
    color: #5b70f9;
}

.hidden {
    display: none;
}