/* This is the CSS document for Spelling Game */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

:root {
	--primary-color: rgba(226, 28, 63);
	--secondary-color: #5b70f9;
	--crystal-color: rgb(0 184 125);
}

* {
	text-align: center;
}

.page {
	margin: auto;
	margin-top: 50px;
	font-family: "Poppins";
}

form {
    overflow: hidden;
    padding: 20px;
}

.contents {
	max-width: 760px;
	width: 100%;
	margin-top: 80px auto;
	margin-left: auto;
	margin-right: auto;
}

#progressBar {
	margin: 0;
	padding: 0;
	font-size: 18px;
}

#questionBoard {
	display: block;
    overflow: hidden;
	width: 60%;
	padding: 20px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 1px 5px 0px grey;
	transition: all ease 0.4s;
}

#questionBoard:focus-within {
	box-shadow: 1px 1px 5px 0px var(--secondary-color);
	border-color: var(--secondary-color);
}
#questionBoard.wrong {
	box-shadow: 1px 1px 5px 0px var(--primary-color);
	border-color: var(--primary-color);
}
#questionBoard.perfect {
	box-shadow: 1px 1px 5px 0px var(--crystal-color);
	border-color: var(--crystal-color);
}

input[type="text"],
select {
	width: 90%;
	margin: 10px 0;
	height: 40px;
	padding: 5px;
	border: 2px solid #555;
	border-radius: 4px;
	outline: none;
    font-size: 35px;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active {
	border: 2px solid var(--secondary-color);
}

button, input[type="button"] {
	cursor: pointer;
	transition: all ease 0.2s;
}

.btnNext {
	width: 120px;
	margin: 5px 25px;
	padding: 5px;
	height: 40px;
	background-color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
	border: none;
	border-radius: 4px;
	color: white;
    margin-left: 0;
}
.btnNext:disabled,
.btn-crystal:disabled {
	background-color: #555;
}
.btnNext:not([disabled]):hover {
	background-color: white;
	color: var(--secondary-color);
}

.btn-crystal {
	width: 80px;
	margin: 5px;
	padding: 5px;
	height: 35px;
	background-color: var(--crystal-color);
	border: 2px solid transparent;
	border-radius: 4px;
	color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn-crystal svg {
    display: none;
}
.btn-crystal.playing svg {
    display: block;
}

.btn-crystal:not([disabled]):hover {
	background-color: white;
	color: var(--crystal-color);
	border: 2px solid var(--crystal-color);
}

.btnSubmit {
	width: 120px;
	margin: 15px 25px;
	padding: 5px;
	height: 40px;
	background-color: var(--crystal-color);
	border: none;
	border-radius: 4px;
	color: white;
}

p {
	text-align: center;
}

li {
	display: inline-block;
	color: #c1c5cc;
}

.keyboard {
	width: 60px;
	height: 50px;
	background-color: var(--secondary-color);
	font-weight: bold;
	font-size: 13px;
	color: white;
	border: 5px solid var(--secondary-color);
	border-radius: 5px;
}
.keyboard#btnBS {
	width: 100px;
}

@media only screen and (max-width: 768px) {
	.keyboard {
		display: none;
	}
}
.activitySelect {
	width: 120px;
	margin: 15px 10px;
	padding: 5px;
	height: 40px;
	border: none;
	border-radius: 4px;
	color: white;
}

#activity_14 {
	background-color: var(--crystal-color);
}

#activity_15 {
	background-color: khaki;
	color: black;
}

#activity_16 {
	background-color: var(--primary-color);
}

#btnReset,
#btnStart {
	width: 120px;
	margin: 15px 10px;
	padding: 5px;
	height: 40px;
	margin: auto;
	border: 2px solid var(--primary-color);
	border-radius: 4px;
	background-color: var(--primary-color);
	color: white;
}

#btnReset {
	display: none;
}

#btnReset:not([disabled]):hover,
#btnStart:not([disabled]):hover {
	background-color: white;
	color: var(--primary-color);
}

#logo {
	display: inline-block;
	height: 80px;
	vertical-align: middle;
}

#header {
	display: inline-block;
	vertical-align: middle;
}

.status-text {
	font-size: 20px;
}
.status-text.wrong {
	color: var(--primary-color);
}
.status-text.green {
	color: var(--crystal-color);
}
.status-text.green svg {
    fill: var(--crystal-color);
    stroke: var(--crystal-color);
}
.status-text.wrong svg {
    fill: var(--primary-color);
    stroke: var(--primary-color);
}
.status-text svg {
    width: 20px;
    vertical-align: middle;
}
.status-text.blue {
	color: var(--secondary-color);
}

.hidden {
	display: none;
}

svg {
	width: 20px;
	overflow: visible;
}
svg circle {
	stroke: white;
	transform-origin: 50px 50px;
	animation: spin 1.2s linear infinite;
}
.board-wrapper {
    width: 100%;
}
.status-wrapper {
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btnSolution {
    margin: 0;
    height: 40px;
}
.green {
    color: var(--crystal-color);
}
@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
